<footer class="site-footer">
  <div class="container">
    <div class="site-footer__grid">
      <div>
        <img src="/assets/images/logo.svg" alt="Land to Land Holdings" width="140" height="28" style="filter:brightness(0) invert(1);opacity:0.7;">
        <p class="site-footer__blurb">Land to Land Holdings has helped hundreds of buyers secure their ideal properties.</p>
      </div>
      <div>
        <p class="site-footer__heading">Navigation</p>
        <ul class="site-footer__links">
          <li><a href="/properties/">Property Map</a></li>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/make-a-payment/">Make a Payment</a></li>
        </ul>
      </div>
      <div>
        <p class="site-footer__heading">Information</p>
        <ul class="site-footer__links">
          <li><a href="/how-it-works/">How It Works</a></li>
          <li><a href="/about/#contact">Contact Us</a></li>
        </ul>
      </div>
      <div>
        <p class="site-footer__heading">Contact</p>
        <ul class="site-footer__links">
          <li>2870 Peachtree Rd NW #915-8271</li>
          <li>Atlanta, GA 30305</li>
          <li><a href="mailto:info@landtolandholdings.com">info@landtolandholdings.com</a></li>
          <li><a href="tel:6783361879">678-336-1879</a></li>
        </ul>
      </div>
    </div>
    <div class="site-footer__bottom">
      <span>&copy; 2026 Land to Land Holdings. All rights reserved.</span>
      <div class="site-footer__legal">
        <a href="/terms/">Terms and Conditions</a>
        <a href="/privacy/">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
